<form>
    <div>
        <h5>Category Information</h5>
    </div>
    <div class="row align-items-center">
        <label class="form-label-title col-sm-3 mb-0">Category Name</label>
        <mat-form-field>
            <mat-label>Category Name</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="row align-items-center">
        <label class="col-sm-3 col-form-label form-label-title">Category Image</label>
        <div class="col-sm-9">
            <input class="button" type="file" id="formFile">
        </div>
    </div>
    <div class="row align-items-center">
        <label class="form-label-title col-sm-3 mb-0">Category Icon</label>
        <mat-form-field>
            <mat-label>Category Icon</mat-label>
            <input matInput>
        </mat-form-field>
    </div>    

    <button class="submitButton" type="submit">Submit</button>
</form>
