<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <div class="sidebar-wrapper">
            <div id="sidebarEffect"></div>
            <div>
                <nav class="sidebar-main">
                    <div class="left-arrow" id="left-arrow">
                        <i data-feather="arrow-left"></i>
                    </div>
                    <div id="sidebar-menu">
                        <ul class="sidebar-links" id="simple-bar">
                            <div class="sidebar-list single-option">
                                <a class="sidebar-title">
                                    <i class="ri-home-line"></i>
                                    <span>Dashboard</span>
                                </a>
                            </div>
                            
                            <mat-expansion-panel class="sidebar-list">
                                <mat-expansion-panel-header>
                                  <mat-panel-title class="sidebar-title">
                                    <i class="ri-store-3-line"></i>
                                    <span>Product</span>
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="sidebar-submenu">
                                    <a routerLink = 'products'>Products</a>
                                    <a routerLink = 'add-new-products'>Add New Products</a>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel class="sidebar-list">
                                <mat-expansion-panel-header>
                                  <mat-panel-title class="sidebar-title">
                                    <i class="ri-list-check-2"></i>
                                    <span>Category</span>
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="sidebar-submenu">
                                    <a>Category List</a>
                                    <a>Add New Category</a>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel class="sidebar-list">
                                <mat-expansion-panel-header>
                                  <mat-panel-title class="sidebar-title">
                                    <i class="ri-list-settings-line"></i>
                                    <span>Attributes</span>
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="sidebar-submenu">
                                    <a>Attributes</a>
                                    <a>Add Attributes</a>
                                </div>    
                            </mat-expansion-panel>

                            <mat-expansion-panel class="sidebar-list">
                                <mat-expansion-panel-header>
                                  <mat-panel-title class="sidebar-title">
                                    <i class="ri-user-3-line"></i>
                                    <span>Users</span>
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="sidebar-submenu">
                                    <a>All users</a>
                                    <a>Add new user</a>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel class="sidebar-list">
                                  <mat-expansion-panel-header>
                                  <mat-panel-title class="sidebar-title">
                                    <i class="ri-user-3-line"></i>
                                    <span>Roles</span>
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="sidebar-submenu">
                                    <a>All roles</a>
                                    <a>Create Role</a>
                                </div>
                            </mat-expansion-panel>

                            <div class="sidebar-list single-option">
                                <a class="sidebar-link sidebar-title link-nav">
                                    <i class="ri-price-tag-3-line"></i>
                                    <span>Media</span>
                                </a>
                            </div>

                            <mat-expansion-panel class="sidebar-list">
                                <mat-expansion-panel-header>
                                <mat-panel-title class="sidebar-title">
                                  <i class="ri-archive-line"></i>
                                  <span>Orders</span>
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="sidebar-submenu">
                                    <a>Order List</a>
                                    <a>Order Detail</a>
                                    <a>Order Tracking</a>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel class="sidebar-list">
                                <mat-expansion-panel-header>
                                <mat-panel-title class="sidebar-title">
                                  <i class="ri-focus-3-line"></i>
                                  <span>Localization</span>
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="sidebar-submenu">
                                    <a>Translation</a>
                                    <a>Currency Rates</a>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel class="sidebar-list">
                                <mat-expansion-panel-header>
                                <mat-panel-title class="sidebar-title">
                                  <i class="ri-price-tag-3-line"></i>
                                  <span>Coupons</span>
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="sidebar-submenu">
                                    <a>Coupon List</a>
                                    <a>Create Coupon</a>
                                </div>
                            </mat-expansion-panel>

                            <div class="sidebar-list single-option">
                                <a class="sidebar-title">
                                    <i class="ri-price-tag-3-line"></i>
                                    <span>Tax</span>
                                </a>
                            </div>

                            <div class="sidebar-list single-option">
                                <a class="sidebar-title">
                                    <i class="ri-star-line"></i>
                                    <span>Product Review</span>
                                </a>
                            </div>

                            <div class="sidebar-list single-option">
                                <a class="sidebar-title">
                                    <i class="ri-phone-line"></i>
                                    <span>Support Ticket</span>
                                </a>
                            </div>

                            <mat-expansion-panel class="sidebar-list">
                                <mat-expansion-panel-header>
                                <mat-panel-title class="sidebar-title">
                                  <i class="ri-settings-line"></i>
                                  <span>Settings</span>
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="sidebar-submenu">
                                    <a>Profile Setting</a>
                                </div>
                            </mat-expansion-panel>

                            <div class="sidebar-list single-option">
                                <a class="sidebar-title">
                                    <i class="ri-file-chart-line"></i>
                                    <span>Reports</span>
                                </a>
                            </div>

                            <div class="sidebar-list single-option">
                                <a class="sidebar-title">
                                    <i class="ri-list-check"></i>
                                    <span>List Page</span>
                                </a>
                            </div>

                    
                        </ul>
                    </div>

                    <div class="right-arrow" id="right-arrow">
                        <i data-feather="arrow-right"></i>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Page Sidebar Ends-->

      
    </div>


</div>
