<div class="nav-menus">
    <mat-icon matBadge="9" matBadgeColor="warn">
        <button class="notification-button" mat-button [matMenuTriggerFor]="menu"><i class="ri-notification-2-line" style="font-size: 1.5em;"></i></button>
    </mat-icon>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Delivery processing (time)</button>
        <button mat-menu-item>Order Complete (time)</button>
        <button mat-menu-item>Tickets Generated (time)</button>
        <button mat-menu-item>Delivery Complete (time)</button>
        <button mat-menu-item>Check all notification</button>
    </mat-menu>
    <button class="nav-bar-button" mat-button [matMenuTriggerFor]="menu2"> Bishesh Pote <i class="arrow down"> </i></button>
    <mat-menu #menu2="matMenu">
        <button mat-menu-item><i class="ri-user-3-line"></i> Users </button>
        <button mat-menu-item><i class="ri-archive-line"></i> Orders </button>
        <button mat-menu-item><i class="ri-phone-line"></i> Support Tickets </button>
        <button mat-menu-item><i class="ri-settings-line"></i> Settings </button>
        <button mat-menu-item><i class="ri-logout-box-r-line"></i> Log out </button>
    </mat-menu>
</div>
